:root {
  --white: #fff;
  --black: #000;
  --blue: #31bce9;
  --grey: #D0D0D0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.models {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

header, main, footer {
  width: 72.5%;
  margin: auto; 
} 

header {
  display: flex;  
  justify-content: space-between;
  padding: 15px 0 10px;
}

footer {
  text-align: center;
}
.cart {
  position: relative;
}
header .bag {
  margin-right: 25px;
}

header .cart .bagNumberArea {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 14px;
  top: 7px;
  
}  

.bagNumber {  
  position: absolute;
  color: var(--white);
  font-weight: 700;
  font-size: 12px;
  right: 20px;
  top: 8px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--black);
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

main .filter-container {
  width: 285px;
}

main .products-container {
  display: flex;
  flex-direction: column;
}

main .order-by {
  align-self: flex-end;
  position: relative;
}

.order-by span {
  border: 1px solid var(--black); 
  padding: 10px;
  font-size: 15px;
  padding-right: 40px;
  cursor: pointer;
}

.order-by i {
  position: relative;
  left: 25px;
}

.order-content {
  display: none;
  position: absolute;
  border: 1px solid var(--black);
  border-top: 0;
  margin-top: 10px;
	background-color: var(--white);
}

.order-content p {
  padding: 14px;
  font-size: 15px;
  padding-right: 39px;
  cursor: pointer;
}

.order-by:hover .order-content  {
  display: block;
}

.order-content p:hover {
 background-color: var(--blue); 
}

/* Estilo dos Filtros */

.filter-container h2 {
 margin-bottom: 30px; 
}

.filter-container, .filter-box {
  display: flex;
  flex-direction: column;
}

.filter-box {
 margin-bottom: 25px; 
}

.filter-box > * {
  padding: 3px;
}

.filter-box h4 {
  margin-bottom: 15px;
}

.filter-box i {
  position: relative;
  left: 10px;
}

.filter-box label {
 cursor: pointer; 
}

.filter-box:nth-child(2) a {
  margin-top: 5px;
  font-size: 14px;
}

/* Checkbox dos filtros, cores e faixa de preço */

.checkbox {
 display: inline-flex;
 position: relative;
}

.checkbox > span {
 padding-left: 8px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.checkbox > input {
  height: 16px;
  width: 16px;
  border: 1px solid var(--black);
  outline: none;
}

.invisible {
  display: none;
}

.checkbox > input:checked + span::before {
 content: '';
  width: 10px;
  height: 10px;
 display: block;
 position: absolute;
 background-color: var(--blue);
 left: 6px;
 top: 6px;
}

/* Filtro dos Tamanhos */

.filter-box:nth-child(4) {
 padding-top: 5px;
 flex-direction: row;
 flex-wrap: wrap;
 width: 180px;
}

.checkbox-size {
  width: 30px;
  height: 30px;
  padding: 8px 10px 8px 0;
}

.checkbox-size > input {
  height: 32px;
  width: 32px;
  border: 1px solid var(--grey);
  outline: none;
}

.checkbox-size span {
 color: var(--grey); 
 text-align: center;
 font-size: 14px;
 position: relative;
 bottom: 33px;
 left: 6px;
}

.checkbox-size  > input:checked {
  border: 1px solid var(--blue);  
}

.checkbox-size  > input:checked  + span {
  color: var(--black); 
}

/* Estilo do modelo dos produtos*/

button.load-more {
  cursor: pointer;
  background-color: var(--blue);
  outline: none;
  color: #fff;
  padding: 14px 20px;
  font-size: 15px;
  font-weight: 700;
	width: 205px;
	margin: 50px auto 10px;
	
}

.products-model {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 16px; 
  justify-content: center;
  text-align: center;
}

.products-model > * {
 margin-top: 5px;
 padding: 3px;
 align-self: center;
}

.products-model .name {
	font-size: 14px;
	letter-spacing: 2px;
}

.products-model .price {
	font-weight: 700;
}

.products-model .installment {
	font-size: 14px;
}

.products-model .buy {
	width: 195px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px 0;
	cursor: pointer;
	background-color: var(--black);
	color: var(--white);
	font-weight: 600;
	font-size: 15px;
	outline: none;
}

/* Estilo da seção dos produtos */

.products {
	margin-top: 36px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* Estilo do Footer */

footer {
  width: 100%;
	background-color: var(--black);
	color: var(--white);
	font-family: "Open Sans", sans-serif;
}

footer p {
		font-weight: 600;
}

.modal-mobile { 
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
}

.modal-mobile hr {
  margin-bottom: 15px;
}

.modal-mobile > p, h4 {
  cursor: pointer;
  padding: 15px;
  width: 80%;
  margin: 15px 0 0;
}


.modal-mobile i {
  cursor: pointer;
  position: absolute;
  left: 85%;
  font-size: 16px;
}

.modal-mobile .filter-box {
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.modal-mobile .filter-box > label {
  margin: 5px;
}

.modal-mobile .sizes {
  flex-direction: row; 
  flex-wrap: wrap;
}

.modal-mobile label.checkbox-size {
  margin-right: 20px;
}

.modal-mobile .checkbox-size input {
  width: 45px;
  height: 45px;
}

.modal-mobile .checkbox-size span {
  font-size: 15px;
  left: 10px;
  bottom: 40px;
}

.mobile-buttons {
  display: none;
  justify-content: center;
}
.mobile-buttons div {
  border: 1px solid var(--grey);
  width: 50%;
  padding: 15px;
  text-align: center;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}

.filter-buttons div {
  margin-top: 15px;
  border: 1px solid var(--grey);
  width: 25%;
  padding: 15px;
  text-align: center;
}

/* Mobile */

@media (max-width:640px) {
  .order-by {
    display: none
  }

  .mobile-buttons {
    display: flex;
  }

  main {
    justify-content: center;
    width: 80%;
  }
  header {
    width: 90%;
  }

  footer p { 
    font-size: 12px;
}
  .products {
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  button.load-more {
    width: 75%;
  }

  main .products-container {
    width: 100%;
  }
  .products-model {
    padding: 0px;
    width: 100%;
    margin: auto;
  }
  .products-model > * {
    padding: 0;
    width: 100%;
  }

  .products-model .name, .products-model .installment {
    font-size: 13px;
    letter-spacing: 0px;
    margin: 0px;
  }

  .products-model .name {
    margin-top: 8px;
  }

  .products-model .buy {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0px;
  }
  .filter-container {
    display: none;  
  }
}

